* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: #e9ecef;
}

a {
  font-size: 20px;
  color: rgb(43, 43, 43);
  padding: 5px;
  text-decoration: none; 
}

a:hover {
  background-color: rgba(22, 72, 238, 0.1);
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

input {
  display: none;
}

.upload-photo {
  display: none;
}

.upload-photo-label {
  background-color: #e9ecef;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out; 
}

.upload-photo-label:hover {
  transform: scale(1.05); 
}
